/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1170px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

main.container{
    text-align: left;
}

.container, header p, main{
    margin-top: 3rem;
}

main ul li{
    list-style: none;
}

.clearfix::after{
    content:'';
    display:table;
    clear: both;
}

.name{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #6ECBEB;
}
/* /General */

/* Header */
header span{
    color: #E53170;
    font-weight: 900;
    font-size: 2rem;
}

/* Main */
.team li {
    width: calc(100% / 3 - 20px);
    background-color: black;
    float: left;
    margin: 0 10px 20px; 
}

li img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.id{
    color:white;
    padding-top:2px;
}

.name, .work, a{
    line-height: 30px;
}

.id .name{
    font-size: 20px;
    font-weight: bold;
}


