*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1170px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(103, 103, 244);
}

.container, header p{
    margin-top: 2rem;
}

/* Header */
header span{
    color: #E53170;
    font-weight: 900;
    font-size: 2rem;
}